<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ESRI.ArcLogistics.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ESRI.ArcLogistics.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<runtime>
		<generatePublisherEvidence enabled="false"/>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Xceed.Wpf.DataGrid" publicKeyToken="BA83FF368B7563C6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.8576.14450" newVersion="3.0.8576.14450"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Xceed.Wpf.Controls" publicKeyToken="BA83FF368B7563C6" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.8576.14450" newVersion="3.0.8576.14450"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<ESRI.ArcLogistics.App.Properties.Settings>
   <setting name="Skin" serializeAs="String">
    <value>BlackSkin</value>
   </setting>
   <setting name="LastCategoryName" serializeAs="String">
    <value>Home</value>
   </setting>
   <setting name="LastPageName" serializeAs="String">
    <value>GettingStarted</value>
   </setting>
   <setting name="LastProjectName" serializeAs="String">
    <value />
   </setting>
   <setting name="IsFirstTimeRun" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="EnableMaps" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MapDisplayConfig" serializeAs="String">
    <value />
   </setting>
   <setting name="FindOrdersLastKeyword" serializeAs="String">
    <value />
   </setting>
   <setting name="FindOrdersSearchCriteria" serializeAs="String">
    <value />
   </setting>
   <setting name="StartApplicationAtLastSavedPage" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsHelpVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastSavedDate" serializeAs="String">
    <value />
   </setting>
   <setting name="IsRoutingConstraintCheckEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsAllwaysAskBeforeDeletingEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsAutomaticallyShowFleetWizardEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GlobalAccountUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="GlobalAccountPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="UsersProjectsFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="UsersPlugInsFolder" serializeAs="String">
    <value />
   </setting>
   <setting name="ActionPanelSettings" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyServerUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyServerPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="CustomColorsSet" serializeAs="String">
    <value />
   </setting>
   <setting name="LicenseCache" serializeAs="String">
    <value />
   </setting>
   <setting name="LicenseExpirationWarningWasShown" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DockingLayoutStateShedulePage" serializeAs="String">
    <value>&lt;DockingLibrary_Layout&gt;
              &lt;_root&gt;
                  &lt;Child Type="Vertical" SpaceFactor="0.5"&gt;
                      &lt;ChildGroups&gt;
                          &lt;Child Type="Horizontal" SpaceFactor="0.480550670677205"&gt;
                              &lt;ChildGroups&gt;
                                  &lt;Child Type="Terminal" SpaceFactor="0.379907621247113"&gt;
                                      &lt;DockablePane Size="493.044988114812,329" Dock="Left" State="Docked" ptFloatingWindow="192,496" sizeFloatingWindow="300,300"&gt;
                                          &lt;ESRI.ArcLogistics.App.Pages.OrdersView /&gt;
                                      &lt;/DockablePane&gt;
                                  &lt;/Child&gt;
                                  &lt;Child Type="Terminal" SpaceFactor="0.620092378752887"&gt;
                                      &lt;DockablePane Size="493.044988114812,537" Dock="Bottom" State="Docked" ptFloatingWindow="448,513" sizeFloatingWindow="300,300"&gt;
                                          &lt;ESRI.ArcLogistics.App.Pages.MapView /&gt;
                                      &lt;/DockablePane&gt;
                                  &lt;/Child&gt;
                              &lt;/ChildGroups&gt;
                          &lt;/Child&gt;
                          &lt;Child Type="Terminal" SpaceFactor="0.519449329322795"&gt;
                              &lt;DockablePane Size="532.955011885188,870" Dock="Left" State="Docked" ptFloatingWindow="0,0" sizeFloatingWindow="300,300"&gt;
                                  &lt;ESRI.ArcLogistics.App.Pages.RoutesView /&gt;
                              &lt;/DockablePane&gt;
                          &lt;/Child&gt;
                      &lt;/ChildGroups&gt;
                  &lt;/Child&gt;
              &lt;/_root&gt;
              &lt;FloatingWindows /&gt;
          &lt;/DockingLibrary_Layout&gt;</value>
   </setting>
   <setting name="UseSyncronousVRP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ProxySettings" serializeAs="String">
    <value />
   </setting>
   <setting name="WarnUserIfVirtualLocationDetected" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastUsedDelayBarrierTime" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="LastUsedBarrierSpeedFactor" serializeAs="String">
    <value>30</value>
   </setting>
   <setting name="IsAlwaysAskAboutApplyingBreaksToDefaultRoutes"
    serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplyBreaksChangesToDefaultRoutes" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IsAlwaysAskAboutApplyingDefaultRoutesToSheduledRoutes"
    serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ApplyDefaultRoutesToSheduledRoutes" serializeAs="String">
    <value>False</value>
   </setting>
  </ESRI.ArcLogistics.App.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <ESRI.ArcLogistics.App.Properties.Settings>
   <setting name="EnableCustomUnhandledExceptionHandling" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="IsLogEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LogFileName" serializeAs="String">
    <value>Log.txt</value>
   </setting>
   <setting name="LogFileSizeInKb" serializeAs="String">
    <value>5000</value>
   </setting>
   <setting name="LogMinimalSeverity" serializeAs="String">
    <value>Information</value>
   </setting>
   <setting name="DataFolder" serializeAs="String">
    <value>AllUsersApplicationDataFolder</value>
   </setting>
   <setting name="StartPageUrl" serializeAs="String">
    <value>index.html</value>
   </setting>
   <setting name="ColorsSet" serializeAs="String">
    <value>&lt;?xml version="1.0" encoding="utf-16"?&gt;
&lt;colors&gt;
  &lt;color R="95" G="16" B="213" /&gt;
  &lt;color R="0" G="143" B="71" /&gt;
  &lt;color R="212" G="11" B="3" /&gt;
  &lt;color R="179" G="132" B="248" /&gt;
  &lt;color R="43" G="221" B="181" /&gt;
  &lt;color R="255" G="219" B="0" /&gt;
  &lt;color R="154" G="86" B="31" /&gt;
  &lt;color R="18" G="105" B="150" /&gt;
  &lt;color R="157" G="213" B="0" /&gt;
  &lt;color R="255" G="156" B="0" /&gt;
&lt;/colors&gt;</value>
   </setting>
   <setting name="ErrorReporterEncodedMailSettings" serializeAs="String">
    <value>c41o/4dU/Xu9TkZWr8+Wc5FCOK7GXucWMdi0CBgIn0higlr5+FErtJTOPZrsYPO4CnC5JSSl8lrqmKWsx8VMvLK2BVdiyN7Pi+H6G6CqEl1/zERGlJs2T8risQZFYk8Jg67ohwgG500xB6c0g6vkNojhABFaLbGYrqkuw+VxzzarE5+nwfHzkChi8B9YJsKDNynITfwU0aCwt2JliikKv8FIwB2lFJ0Q330NzFfzI/m3B9j5QIyMe1+DF4t9ZihvqyTi/xpM1wst3y9UkQZRQY13GSOWhkihtEJenYIyrdJXN0iHzyRV2PASGQdoHomQrbGTMXAYT+9VFIzmiB5/0SPqIqnW8k0rYWDL8XNeoabakuUFBM7dltsTBZS8mnFoX/ZPfn07f2AJC+B6j1f8MIHSSLTAT8C/2uWfo+u/fi8=</value>
   </setting>
   <setting name="EMail" serializeAs="String">
    <value>autkin@softech.ru</value>
   </setting>
   <setting name="VideoTutorialLink" serializeAs="String">
    <value>http://links.esri.com/arclogistics_rc_media</value>
   </setting>
   <setting name="ResourceCenterLink" serializeAs="String">
    <value>http://links.esri.com/arclogistics_rc</value>
   </setting>
   <setting name="SubscriptionLink" serializeAs="String">
    <value>http://links.esri.com/arclogistics_buy</value>
   </setting>
  </ESRI.ArcLogistics.App.Properties.Settings>
	</applicationSettings>
	<system.net>
		<defaultProxy useDefaultCredentials="true">
		</defaultProxy>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
		<connectionManagement>
			<add address="*" maxconnection="100"/>
		</connectionManagement>
	</system.net>
</configuration>
